 /* @font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald/static/Oswald-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/static/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: normal;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
 
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
}

.anime-container {
  font-family: "Montserrat", sans-serif;
  margin: 30px auto;
  background: #f0efef;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.coming-soon {
  font-size: 14px;
  color: rgb(45, 77, 236);
}

.anime-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid transparent; /* Hide lines */
}

.anime-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid transparent; /* Hide lines */
}

.anime-container-first-img {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.button-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 40px;
}

.season-button {
  background-color: red; /* Dark Red */
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  transition: background-color 0.3s ease;
}

.season-button:hover {
  background-color: #6b290a; /* Slightly Darker Red */
  color: #ff0000;
}

.anime-header {
  height: 60px;
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(172,40,28,0) 35%, rgba(2,58,70,1) 100%);
  color: rgb(221, 231, 233);
  text-align: left;
  font-weight: bold;
}

.anime-header-1 {
  margin-top: 30px;
  display: flex;
  color: rgb(221, 231, 233);
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}

.anime-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background: #0e0e0e;
  height: 60px;
}

.anime-row {
  background: #fff;
  text-align: center;
  border: 1px solid black;
  margin-block: 20px;
}
.anime-row-img-sec {
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.anime-row img {
  width: 101px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.anime-row img:hover {
  transform: scale(1.1);
}

.anime-row .serial {
  font-weight: bold;
}

/* Countdown Styling */
.countdown-main {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-right: 25px;
}

.countdown-2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-right: 25px;
}

.countdown-3 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-right: 25px;
}

.count-box {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  min-width: 60px;
  font-weight: bold;
  color: white;
}

.count-box span {
  font-size: 20px;
  display: block;
  font-weight: bold;
}

.coming-soon-gif{
  height: 90px;
  width: 40px;
  padding-left: 9px;
}

.count-box p {
  font-size: 12px;
  margin: 5px 0 0;
  color: #ddd;
}

#days,
#hours,
#minutes,
#seconds {
  color: black;
  background-color: #ebebeb;
  padding: 8px;
  border-radius: 5px;
}

.hide-in-desktop{
  display: none;
}
/* Media query for mobile screens */
@media (max-width: 600px) {

  .categories-title {
    padding-right: 60px;
  }
  
  .anime-container {
    font-family: "Montserrat", sans-serif;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background: #f5f5f5;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
  }

  .img-1{
    height: 250px;
    width: 300px;
    padding-right: 50px;
  }
  
  .coming-soon {
    font-size: 12px;
    color: rgb(30, 75, 241);
    text-align: center;
  }

  .coming-soon-gif{
    padding-left: 9px;
  }

  .countdown-main {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-right: 40px;
  }

  .countdown-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
  }

  .countdown-3 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
  }

  .serial-1 {
    padding-left: 30px;
    font-size: 20px;
  }

  .serial-2 {
    padding-left: 80px;
    font-size: 20px;
  }

  .serial-3 {
    padding-left: 70px;
    font-size: 20px;
  }

  .grab {
    padding-right: 60px;
  }
  
  .anime-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: auto;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    text-align: center;
    color: #0e0e0e;
  }
  
  .anime-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    text-align: center;
    background: #fff;
    border: 1px solid black;
    margin-block: 20px;
  }
  
  .anime-container-first-img {
    margin-bottom: 20px;
  }
  
  /* Make the button container responsive */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
  
  /* Make buttons adjust their size on smaller screens */
  .season-button {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
    transition: background-color 0.3s ease;
  }
  
  .season-button:hover {
    background-color: #6b290a;
    color: #ff0000;
  }
  
  .anime-header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;

  }
  
  .anime-row img {
    width: 80px;
    height: auto;
  }
  
  .anime-row .serial {
    font-weight: bold;
  }
  
  /* Countdown Styling */

/*   
  #days,
  #hours,
  #minutes,
  #seconds {
    color: black;
    background-color: #ebebeb;
    padding: 8px;
    border-radius: 5px;
  }*/
  
  h2{
    margin-top: 20px;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
  }
  .anime-container {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .season-button {
    width: 80%;
    padding: 10px;
  }

  .anime-header-1,
  .anime-header {

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    text-align: center;

  }
  .anime-row {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    text-align: center;
    border:  rgb(217, 183, 233);
  }
  .anime-row-img-sec {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-right: 110px;
    padding-bottom: 20px;
  }

  .anime-row img {
    width: 60%;
    height: 100%;
  }
  .hide-in-mobile {
    display: none;
  } 
  .hide-in-desktop{
    display: block;
  }
}
